@import './mixins/clear.less';
#wrappper{
    #header{
        .headTop{
            background-color: #eaeaea;
            height: 30px;
            .headTopMain{
                width: 1200px;
                margin: 0 auto;
                line-height: 30px;
                .clearfix();
                .left{
                    float: left;
                    h5{
                        float: left;
                        margin-right: 5px;
                    }
                    p{
                        float: left;
                        a{
                            &:first-child{
                                border-right: 1px solid #b3aeae;
                                padding-right: 5px;
                                margin-right: 0px;
                            }
                        }
                    }
                }
                .right{
                    float: right;
                    nav{
                        font-size: 0px;
                        a{
                            font-size: 12px;
                            margin-right: 10px;
                            padding-right: 10px;
                            border-right: 1px solid #b3aeae;
                            &:last-child{
                                border: none;
                                margin-right: 0px;
                                padding-right: 0px;
                            }
                        }
                    }
                }
            }
        }
        .headBottom{
            .headBottomMain{
                width: 1200px;
                margin: 0 auto;
                .clearfix();
                .logo{
                    float: left;
                    a{
                        img{
                            width: 175px;
                            height: 56px;
                            margin: 25px 45px;
                        }
                    }
                }
                .search{
                    float: right;
                    margin-top: 35px;
                    input{
                        &:first-child{
                            box-sizing:border-box;
                            width: 490px;
                            height: 32px;
                            padding: 0px 4px;
                            border: 3px solid #ea4a36;
                            float: left;
                        }
                        &:last-child{
                            width: 68px;
                            height: 32px;
                            background-color: #ea4a36;
                            float: left;
                            color: #fff;
                            border: none;
                        }
                    }
                }
            }
        }
    }
}